*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main_nav{
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.contact_us{
  background-color: #EF5F00;
  border-radius: 4px;
  color: #fff;
}

#navbar_toggler{
  border: none;
  font-size: 1.5rem;
  outline: none;
}

#navbar_toggler:focus, #btn_close{
  outline: none;
  border: none;
  box-shadow: none;
}
#nav_link{
  font-weight: 500;
  position: relative;
  color: grey;
}

/* media query */
@media (min-width:991px) {

  #nav_link::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 0;
      height: 2px;
      background-color: rgb(224, 116, 7);
      visibility: hidden;
      transition: 0.3s ease-in-out;
  }
  #nav_link:hover::before,
  #nav_link.active::before {
      width: 100%;
      visibility: visible;
  }

  }
